[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/xerces-c"]
	path = thirdparty/xerces-c
	url = https://github.com/apache/xerces-c.git
	branch = xerces-3.2.2
[submodule "thirdparty/fmi"]
	path = thirdparty/fmi
	url = https://github.com/INTO-CPS-Association/fmi
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/rabbitmq-c/rabbitmq-c"]
	path = thirdparty/rabbitmq-c/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
